{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
	<h1>{{logged_in_as}}</h1>
	  <div class='row'>
	  <div class="col-md-4"></div>
	  <div class='col-md-4 col-md-offset-3'>
	  	<tr><td><h4>{{template_title}}</h4></td></tr>
	  	<table>
	    	<form method ='POST' action=''>{% csrf_token %}
	      	{{Subjectform|crispy}}
	      	<div class="row">
	    	<div class="col-md-2">
	        <button class='btn btn-primary' type="submit" name="add" value="add"><i class="fa fa-plus fa-3px"></i> Add</button>
	        </div>
	    	</div>
	        </form>
	      </table>
	    
	  </div>
	  </div>
{% endif %}
{% endblock %}