{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block head_title %}Welcome | {{ block.super }}{% endblock %}
{% load static %}
<style type="text/css">
      {% block style %}
      	.jumbotron{
      		background-color: #0056b3;
      		color: #FFF;
      	}
      {% endblock %}
    </style>

{% block jumbotron %}
{% if not request.user.is_authenticated %}
        <div class="jumbotron">
        
        <div class="row">
          <div class='col-sm-1'></div>
        <div class="col-sm-6"> 
        <h1>Welcome page</h1>
        <p class="text-align-left">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
        <a class="btn btn-lg btn-primary" role="button">Join Us &raquo;</a>
        </div>
        <div class="col-sm-5">
          <img src="{% static 'img/one.jpeg'%}" width="460" height="300" class="img-responsive"/>
        </div>
        </div>
        </div>
      </div>
{% endif %}
{% endblock %}
{% block content %}
{% if request.user.is_authenticated and request.user.is_staff %}
	<div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-10'>
    <h1>{{logged_in_as}}</h1>
    <div class='row'>
  <div class="col-md-6 col-md-offset-3">
    <form method ='POST'>{% csrf_token %}
      {{Addressform|crispy}}
      </div>
      <div class='col-md-6'>
      {{Institutionform|crispy}}
      <br><br>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <button type="submit" value="submit" class='btn btn-primary'>
        <i class="fa fa-floppy-o fa-1x" ></i> Add Institution
    </button>
    </div>
      </div> 
    </form>
  
       

  </div>
  </div>
    </div>
    
<div class='col-md-1'>
  {% for i in '987654321987' %}
            <br>
     {% endfor %}
      <a href="{% url 'add_subject' %}"><i class="fa fa-plus-circle fa-2x" ></i></a>
  </div>
  </div>
  </div>

  <hr>
  <div class="container">
    <div class='row'>
    
    <div class='col-md-5'>
    <h5>Institution details</h5>
    </div>
   
  <table class="table">

    <tr><th align="center">No.</th><th align="center">Name</th><th align="center">Address</th><th align="center">Phone no.</th><th align="center">Website</th><th align="center">Subjects</th><th align="center">Email</th></tr>
  {% if Institutions %}
    {% for item in Institutions %}
      <tr><td align="center">{{forloop.counter}}</td>
        <td align="center"><a href="{% url 'instituteedit' item.Institution_name %}">{{item.Institution_name}}</a></td>
        <td align="center">{{item.address.door_no}} {{self.floor_no}} {{item.address.street_name}} {{item.address.town_name}} {{item.address.city_name}} {{item.address.state_name}} {{item.address.country_name}}</td>
        <td align="center">{{item.phone_no}}</td>
      <td align="center">{{item.website}}</td>
      <td align="center">{% for subj in item.subjects.all %}{{ subj.subject_name }}<br/>{% endfor %}</td>
      <td align="center">{{item.email}}</td>
      </tr>
    {% endfor %}
  {% else %}
    <tr><th></th><th></th><th></th><th align="center">NO Institutions</th><th></th>
      <th></th><th></th></tr>
  {% endif %}
      
    </td></tr>
  </table>
</div>





  <hr>
  <div class="container">
    <div class='row'>
    
    <div class='col-md-5'>
    <h5>User details</h5>
    </div>
   
  <table class="table">

    <tr><th align="center">No.</th><th align="center">Id</th><th align="center">Userame</th><th align="center">Email</th><th align="center">Last login</th><th align="center">Joined on</th></tr>
  {% if workers %}
    {% for item in workers %}
      <tr><td align="center">{{forloop.counter}}</td><td align="center">{{item.id}}</td><td align="center">{{item.username}}</td><td align="center">{{item.email}}</td><td align="center">{{item.last_login|timesince}} ago</td><td align="center">{{item.date_joined|date}} ago</td></tr>
    {% endfor %}
  {% else %}
    <tr><th></th><th></th><th></th><th align="center">NO workers</th><th></th>
      <th></th><th></th></tr>
  {% endif %}
      
    </td></tr>
  </table>
</div>
  <hr>
{% endif %}
{% if request.user.is_authenticated and not request.user.is_staff %}
  <div class="container">
    <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-10'>
    <h1>{{logged_in_as}}</h1>
    <hr>
  <div class="container">
    <div class='row'>
    
    <div class='col-md-5'>
    <h5>Institution details</h5>
    </div>
   
  <table class="table">

    <tr><th align="center">No.</th><th align="center">Name</th><th align="center">Address</th><th align="center">Phone no.</th><th align="center">Website</th><th align="center">Subjects</th><th align="center">Email</th></tr>
  {% if Institutions %}
    {% for item in Institutions %}
      <tr><td align="center">{{forloop.counter}}</td>
        <td align="center">{{item.Institution_name}}</td>
        <td align="center">{{item.address}}</td>
        <td align="center">{{item.phone_no}}</td>
      <td align="center">{{item.website}}</td>
      <td align="center">{% for subj in item.subjects.all %}{{ subj }}<br/>{% endfor %}</td>
      <td align="center">{{item.email}}</td>
      </tr>
    {% endfor %}
  {% else %}
    <tr><th></th><th></th><th></th><th align="center">NO Institutions</th><th></th>
      <th></th><th></th></tr>
  {% endif %}
      
    </td></tr>
  </table>
</div>

        
    </div>
{% endif %}
{% endblock %}