{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block head_title %}Welcome | {{ block.super }}{% endblock %}
{% load static %}
<style type="text/css">
      {% block style %}
      	.jumbotron{
      		background-color: #0056b3;
      		color: #FFF;
      	}
      {% endblock %}
    </style>

{% block jumbotron %}
{% if not request.user.is_authenticated %}
        <div class="jumbotron">
        
        <div class="row">
          <div class='col-sm-1'></div>
        <div class="col-sm-6"> 
        <h1>Welcome page</h1>
        <p class="text-align-left">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
        <a class="btn btn-lg btn-primary" role="button">Join Us &raquo;</a>
        <!-- href="../../components/navbar/" -->
        </div>
        <div class="col-sm-5">
          <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/GxbJVB65bAs" frameborder="0" allowfullscreen></iframe> -->
          <img src="{% static 'img/one.jpeg'%}" width="460" height="300" class="img-responsive"/>
        </div>
        </div>
        </div>
      </div>
{% endif %}
{% endblock %}
{% block content %}
{% if request.user.is_authenticated and request.user.is_staff %}
	<div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-10'>
    <h1>{{logged_in_as}}</h1>
    <div class='row'>
  <div class="col-md-6 col-md-offset-3">
    <form method ='POST'>{% csrf_token %}
      {{Addressform|crispy}}
      </div>
      <div class='col-md-6'>
      {{Institutionform|crispy}}
      <br><br><br>
      <div class="row">
        <div class="col-md-10">
        <button type="submit" value="submit" class='btn btn-primary'>
        <i class="fa fa-floppy-o fa-1x" ></i> Save
    </button>
  </div>
  <div class="col-md-2">
          <button class='btn btn-danger' type="submit" name="delete" value="delete"><i class="fa fa-trash-o fa-3px"></i> Delete</button>
          </div>
    </div>
      </div> 
    </form>
  
       

  </div>
  </div>
    </div>
    
<div class='col-md-1'>
  {% for i in '987654321987' %}
            <br>
     {% endfor %}
      <a href="{% url 'add_subject' %}"><i class="fa fa-plus-circle fa-2x" ></i></a>
  </div>
  </div>
  </div>


  {% else %}
  <div class="container">
        <div class="row">
          <div class="col-md-4 text-align-center">
            <!-- <i class="fa fa-id-card fa-5x" aria-hidden="true"></i> -->
          </div>
          <div class="col-md-4 text-align-center">
            <!-- <i class="fa fa-plus fa-5x" ></i> -->
          </div> 
    </div>
    </div>
{% endif %}
{% endblock %}